<table class="table table-responsive table-bordered">
    <caption><strong>Inflected Forms</strong></caption>
    <tr>
        <th>Cách</th>
        <th>Số ít</th>
        <th>Số nhiều</th>
        <th>Dùng cho câu hỏi</th>
        <th>Ví dụ</th>
    </tr>


    {% for con in context %}
        <tr>
            <td>{{ forloop.counter }}</td>
            {% if con.sing %}
                <td>{{ con.sing }}</td>
            {% else %}
                <td>-</td>
            {% endif %}

            {% if con.plur %}
                <td>{{ con.plur }}</td>
            {% else %}
                <td>-</td>
            {% endif %}

            <td>{{ con.explaination }}</td>
            <td>{{ con.example }}</td>
        </tr>

    {% endfor %}
</table>

{% if context2.0.sing %}

    <table class="table table-hover">
            <caption><strong>Bảng cho từ giống cái</strong></caption>
            <tr>
                <th>Cách</th>
                <th>Số ít</th>
                <th>Số nhiều</th>
            </tr>


            {% for con in context2 %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    {% if con.sing %}
                        <td>{{ con.sing }}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}

                    {% if con.plur %}
                        <td>{{ con.plur }}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                </tr>
            {% endfor %}
    </table>

{% endif %}