{% verbatim %}
<script id="entry-template" type="text/template">

    <div class="container">
        <table class="table table-responsive table-bordered table-hover">
            <caption><strong>Inflected Forms</strong></caption>
            <tr>
                <th>Падеж</th>
                <th>Един.</th>
                <th>Мног.</th>
            </tr>


            {{#each context}}
            <tr>
                <td>case</td>
                {{#if sing}}
                <td>{{sing}}</td>
                {{else}}
                <td>-</td>
                {{/if}}

                {{#if plur}}
                <td>{{plur}}</td>
                {{else}}
                <td>-</td>
                {{/if}}

            </tr>

            {{/each}}
        </table>
    </div>

</script>

{% endverbatim %}

